### Importação dos dados

In [2]:
import pandas as pd
from typing import Tuple

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

### Dicionário de Dados - Dataset de Vendas

| Campo                | Descrição                                              | Tipo             |
|----------------------|--------------------------------------------------------|------------------|
| `Produto`       | Nome do item vendido                                   | Texto            |
| `Categoria do Produto`     | Categoria do produto (ex: Eletrônicos, Roupas)         | Texto            |
| `Preço`              | Valor da venda (em moeda local)                        | Numérico         |
| `Frete`        | Custo do frete                                         | Numérico         |
| `Data da Compra`        | Data da compra (AAAA-MM-DD)                            | Data             |
| `Vendedor`     | Vendedor                                      | Texto            |
| `Local da Compra`     | Local onde a compra foi efetuada                                      | Texto            |
| `Avaliação da compra`          | Feedback dos clientes                         | Numérico         |
| `Tipo de pagamento`     | Método de pagamento (ex: cartão, boleto)               | Texto            |
| `Quantidade de parcelas`    | Número de parcelas escolhidas                          | Inteiro          |
| `latitude_cliente`   | Latitude da localização do cliente                     | Numérico         |
| `longitude_cliente`  | Longitude da localização do cliente                    | Numérico         |

In [3]:
# Colunas de cada dataset
lista_datasets = [loja1, loja2, loja3, loja4]

for i in range(len(lista_datasets)):
    print(f"Colunas do dataset {i+1}:")
    print(lista_datasets[i].columns)
    print("\n")

Colunas do dataset 1:
Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')


Colunas do dataset 2:
Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')


Colunas do dataset 3:
Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')


Colunas do dataset 4:
Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')

In [4]:
# Info geral de cada dataset
for i in range(len(lista_datasets)):
    print(f"Info do dataset {i+1}:")
    print(lista_datasets[i].info())
    print("\n")

Info do dataset 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None


Info do dataset 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None


Info do dataset 3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None


Info do dataset 4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2358 non-null   object
 1   Categoria do Produto    2358 non-null   object
 2   Preço                   2358 non-null   float64
 3   Frete                   2358 non-null   float64
 4   Data da Compra          2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Local da compra         2358 non-null   object
 7   Avaliação da compra     2358 non-null   int64
 8   Tipo de pagamento       2358 non-null   object
 9   Quantidade de parcelas  2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB
None

#1. Análise do faturamento

In [5]:
# Calcular o faturamento total de cada loja
for i in range(len(lista_datasets)):
    print(f"Faturamento da loja {i+1}: R$ {lista_datasets[i]['Preço'].sum()}")

Faturamento da loja 1: R$ 1534509.12
Faturamento da loja 2: R$ 1488459.06
Faturamento da loja 3: R$ 1464025.03
Faturamento da loja 4: R$ 1384497.58

# 2. Vendas por Categoria

In [6]:
# Quantidade de produtos vendidos por categoria
for i in range(len(lista_datasets)):
    print(f"Quantidade de produtos vendidos por categoria na loja {i+1}:")
    print(
        lista_datasets[i]
        .groupby(by="Categoria do Produto")["Produto"]
        .count()
        .sort_values(ascending=False)
    )
    print("\n")

Quantidade de produtos vendidos por categoria na loja 1:
Categoria do Produto
moveis                   465
eletronicos              448
brinquedos               324
eletrodomesticos         312
esporte e lazer          284
instrumentos musicais    182
livros                   173
utilidades domesticas    171
Name: Produto, dtype: int64


Quantidade de produtos vendidos por categoria na loja 2:
Categoria do Produto
moveis                   442
eletronicos              422
brinquedos               313
eletrodomesticos         305
esporte e lazer          275
instrumentos musicais    224
livros                   197
utilidades domesticas    181
Name: Produto, dtype: int64


Quantidade de produtos vendidos por categoria na loja 3:
Categoria do Produto
moveis                   499
eletronicos              451
brinquedos               315
eletrodomesticos         278
esporte e lazer          277
livros                   185
instrumentos musicais    177
utilidades domesticas    177
Name: Produto, dtype: int64


Quantidade de produtos vendidos por categoria na loja 4:
Categoria do Produto
moveis                   480
eletronicos              451
brinquedos               338
esporte e lazer          277
eletrodomesticos         254
utilidades domesticas    201
livros                   187
instrumentos musicais    170
Name: Produto, dtype: int64

In [7]:
# Faturamento por categoria
for i in range(len(lista_datasets)):
    print(f"Faturamento por categoria na loja {i+1}:")
    print(
        lista_datasets[i]
        .groupby(by="Categoria do Produto")["Preço"]
        .sum()
        .sort_values(ascending=False)
    )
    print("\n")

Faturamento por categoria na loja 1:
Categoria do Produto
eletronicos              572659.23
eletrodomesticos         484913.36
moveis                   250178.11
instrumentos musicais    121731.69
esporte e lazer           52387.55
brinquedos                23993.78
utilidades domesticas     16931.48
livros                    11713.92
Name: Preço, dtype: float64


Faturamento por categoria na loja 2:
Categoria do Produto
eletronicos              547773.71
eletrodomesticos         464758.13
moveis                   235234.68
instrumentos musicais    139987.03
esporte e lazer           46326.09
brinquedos                21262.21
utilidades domesticas     19662.86
livros                    13454.35
Name: Preço, dtype: float64


Faturamento por categoria na loja 3:
Categoria do Produto
eletronicos              547699.92
eletrodomesticos         438984.89
moveis                   268095.56
instrumentos musicais    103174.45
esporte e lazer           47456.10
brinquedos                25869.20
utilidades domesticas     20080.21
livros                    12664.70
Name: Preço, dtype: float64


Faturamento por categoria na loja 4:
Categoria do Produto
eletronicos              545966.86
eletrodomesticos         377680.65
moveis                   256705.65
instrumentos musicais    100136.50
esporte e lazer           44465.65
brinquedos                27015.67
utilidades domesticas     20098.83
livros                    12427.77
Name: Preço, dtype: float64

# 3. Média de Avaliação das Lojas

In [8]:
# Média de avaliação dos produtos por loja
for loja in range(len(lista_datasets)):
    media_avaliacao = lista_datasets[loja]["Avaliação da compra"].mean()
    print(f"Média de avaliação da loja {loja+1}: {media_avaliacao:.2f}")

Média de avaliação da loja 1: 3.98
Média de avaliação da loja 2: 4.04
Média de avaliação da loja 3: 4.05
Média de avaliação da loja 4: 4.00

# 4. Produtos Mais e Menos Vendidos

In [ ]:
def produtos_extremos(df: pd.DataFrame, coluna_produto: str = "Produto") -> Tuple[Tuple[str, int], Tuple[str, int]]:
    """
    Retorna o produto mais vendido e o menos vendido de um DataFrame.

    Parâmetros:
    - df (pd.DataFrame): DataFrame contendo os dados de vendas.
    - coluna_produto (str): Nome da coluna que contém os nomes ou identificadores dos produtos.

    Retorna:
    - Tuple contendo:
        - (nome_produto_mais_vendido, unidades_vendidas)
        - (nome_produto_menos_vendido, unidades_vendidas)
    """
    contagem = df[coluna_produto].value_counts()
    mais_vendido = contagem.idxmax()
    menos_vendido = contagem.idxmin()
    return (mais_vendido, contagem[mais_vendido]), (menos_vendido, contagem[menos_vendido])

In [11]:
# Aplicando a função em cada loja
for i in range(len(lista_datasets)):
    mais_vendido, menos_vendido = produtos_extremos(lista_datasets[i])
    print(f"Loja {i+1}:")
    print(f"Produto mais vendido: {mais_vendido[0]} ({mais_vendido[1]} unidades)")
    print(f"Produto menos vendido: {menos_vendido[0]} ({menos_vendido[1]} unidades)")
    print("\n")

Loja 1:
Produto mais vendido: Micro-ondas (60 unidades)
Produto menos vendido: Headset (33 unidades)


Loja 2:
Produto mais vendido: Iniciando em programação (65 unidades)
Produto menos vendido: Jogo de tabuleiro (32 unidades)


Loja 3:
Produto mais vendido: Kit banquetas (57 unidades)
Produto menos vendido: Blocos de montar (35 unidades)


Loja 4:
Produto mais vendido: Cama box (62 unidades)
Produto menos vendido: Guitarra (33 unidades)

# 5. Frete Médio por Loja

In [12]:
#
def media_frete(df: pd.DataFrame, coluna_frete: str = "Frete") -> float:
    """
    Calcula a média do valor do frete em um DataFrame.

    Parâmetros:
    - df (pd.DataFrame): DataFrame contendo os dados de vendas.
    - coluna_frete (str): Nome da coluna que contém os valores do frete.

    Retorna:
    - float: Média do valor do frete.
    """
    return df[coluna_frete].mean()

# Aplicando a função em cada loja
for i in range(len(lista_datasets)):
    media = media_frete(lista_datasets[i])
    print(f"Média do frete da loja {i+1}: R$ {media:.2f}")

Média do frete da loja 1: R$ 34.69
Média do frete da loja 2: R$ 33.62
Média do frete da loja 3: R$ 33.07
Média do frete da loja 4: R$ 31.28